.form {
	background-color: var(--clr-main);

	.form-column {
		margin: var(--spacer-3) 0;
		display: flex;
		flex-direction: column;
	}
	.input {
		border-radius: 0.5rem;
		padding: var(--spacer-2);
		margin-top: var(--spacer-1);
	}

	.select {
		margin-top: var(--spacer-1);
		border-radius: 0.5rem;
		padding: var(--spacer-2);
	}

	.btn {
		background-color: var(--clr-accent);
		border-radius: 0.5rem;
		margin-left: auto;
		display: block;
		padding: var(--spacer-3) var(--spacer-8);

		&:hover {
			background-color: var(--clr-accent-hover);
		}
	}
}
