.form {
	background-color: var(--clr-main);
	.btn {
		background-color: var(--clr-accent);
		border-radius: 0.5rem;
		margin-left: auto;
		display: block;
		padding: var(--spacer-3) var(--spacer-8);
		transition: background-color 0.3s;
		outline: none;

		&:hover,
		&:focus {
			background-color: var(--clr-accent-hover);
		}
	}
}
