.hero {
	max-height: 10rem;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	.title {
		position: absolute;
		z-index: 10;
		font-size: var(--fz-3);
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.7);
	}

	@media (min-width: 60rem) {
		max-height: 15rem;
		.title {
			font-size: var(--fz-5);
		}
	}
}
