.modal-body {
	margin-top: var(--spacer-5);
	text-align: left;
	font-size: 0.8rem;
	overflow: auto;
	max-height: 20rem;
	.item {
		border-bottom: 2px dotted rgba(0, 0, 0, 0.4);
		padding: var(--spacer-2) 0;
		margin-bottom: var(--spacer-4);
		width: 90%;
	}

	.cell {
		margin-bottom: var(--spacer-3);

		.title {
			margin-bottom: var(--spacer-1);
		}

		.input {
			background-color: var(--clr-accent-hover);
			border-radius: var(--br);
			padding: var(--spacer-2);
			outline: none;
			transition: background-color 0.3s;
			&:hover,
			&:focus {
				background-color: #4952fa;
			}
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
			}

			&::placeholder {
				color: #fff;
			}
		}
	}

	.btn {
		display: inline-block;
		padding: var(--spacer-3) var(--spacer-6);
		margin-right: var(--spacer-2);
		border-radius: var(--br);
		background-color: #4952fa;
		transition: background-color 0.3s;
		outline: none;

		&:hover,
		&:focus {
			background-color: #373fd6;
		}
	}

	@media (min-width: 50rem) {
		max-height: 35rem;
	}
}
