.modal-body {
	margin-top: var(--spacer-5);
	text-align: left;
	font-size: 0.8rem;
	overflow: auto;
	max-height: 35rem;
	.item {
		border-bottom: 2px dotted rgba(0, 0, 0, 0.4);
		padding: var(--spacer-2) 0;
		margin-bottom: var(--spacer-4);
		width: 90%;
	}

	.cell {
		margin-bottom: var(--spacer-3);

		.title {
			margin-bottom: var(--spacer-1);
		}
	}

	.btn {
		border-radius: var(--br);
		background-color: var(--clr-accent-hover);
		padding: var(--spacer-3) var(--spacer-6);
	}
}
