.modal-body {
	margin-top: var(--spacer-5);
	text-align: left;
	font-size: 0.8rem;
	overflow-y: auto;
	max-height: 35rem;
	.item {
		border-bottom: 2px dotted rgba(0, 0, 0, 0.4);
		padding: var(--spacer-2);
		margin-bottom: var(--spacer-4);
	}

	.cell {
		margin-bottom: var(--spacer-3);

		.title {
			margin-bottom: var(--spacer-1);
		}
	}
}
