.controls {
	margin: var(--spacer-3) 0;
	display: flex;
	flex-direction: column;

	.input {
		border-radius: 0.5rem;
		padding: var(--spacer-2);
		margin-top: var(--spacer-1);
		border: 2px solid transparent;
		outline: none;
		&:focus {
			border: 2px solid var(--clr-accent);
		}
	}
}
