.controls {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: var(--spacer-3) 0;

	.input {
		border-radius: 0.5rem;
		padding: var(--spacer-2);
		margin-top: var(--spacer-1);
		border: 2px solid transparent;
		outline: none;
		&:focus {
			border: 2px solid var(--clr-accent);
		}
	}

	.error {
		border: 2px solid rgb(189, 19, 19);
	}

	.btn {
		position: absolute;
		right: -1.3em;
		top: 45%;
		font-size: var(--fz-3);
		transition: color 0.3s;
		outline: none;

		&:hover,
		&:focus {
			color: rgb(245, 225, 225);
		}
	}
}
