.backdrop {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 200;
	display: flex;
	justify-content: center;
	align-items: center;

	.modal {
		position: relative;
		background-color: var(--clr-accent);
		padding: var(--spacer-5) var(--spacer-4);
		width: calc(min(var(--max-width), 95vw));
		border-radius: var(--br);

		.title {
			font-size: var(--fz-6);
		}

		.btn {
			font-size: var(--fz-6);
			transform: translateX(25%);
			position: absolute;
			top: 1.25em;
			right: 1.25em;
		}

		.error {
			margin-top: var(--spacer-5);
			text-align: center;
			font-size: var(--fz-1);
		}

		.info {
			margin-top: var(--spacer-4);
			display: flex;
			gap: var(--spacer-4);

			span {
				color: #01065e;
				font-weight: bold;
			}
		}
	}

	@media (min-width: 60rem) {
		.modal {
			font-size: 1rem;
			padding: var(--spacer-7);
		}
	}
}
