.backdrop {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 200;
	display: flex;
	justify-content: center;
	align-items: center;

	.modal {
		position: relative;
		background-color: var(--clr-accent);
		padding: var(--spacer-5) var(--spacer-4);
		width: calc(min(var(--max-width), 95vw));
		border-radius: var(--br);

		.modal-header {
			display: flex;
			justify-content: space-between;

			.title {
				font-size: var(--fz-6);
				margin-bottom: var(--spacer-2);
			}
			.btn {
				font-size: var(--fz-6);
				outline: none;
				transition: color 0.3s;

				&:focus,
				&:hover {
					color: rgb(228, 228, 228);
				}
			}
		}

		.error {
			margin-top: var(--spacer-5);
			text-align: center;
			font-size: var(--fz-1);
		}

		.info {
			margin-top: var(--spacer-4);
			display: flex;
			align-items: center;
			gap: var(--spacer-4);

			span {
				color: #01065e;
				font-weight: bold;
			}
			.clear {
				border-radius: var(--br);
				background-color: #4952fa;
				padding: var(--spacer-3) var(--spacer-6);
				transition: background-color 0.3s;
				outline: none;

				&:hover,
				&:focus {
					background-color: #373fd6;
				}
			}
		}
	}

	@media (min-width: 60rem) {
		.modal {
			font-size: 1rem;
			padding: var(--spacer-7);
		}
	}
}
