.info {
	margin-top: var(--spacer-4);
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: var(--spacer-4);

	span {
		color: #01065e;
		font-weight: bold;
	}
	.clear {
		border-radius: var(--br);
		background-color: #4952fa;
		padding: var(--spacer-3) var(--spacer-6);
		transition: background-color 0.3s;
		outline: none;

		&:hover,
		&:focus {
			background-color: #373fd6;
		}
	}
}
